@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <a href="authentication/profile">Hello, @context.User.Identity.Name!</a>
        <button class="nav-link btn btn-link" @onclick="BeginSignOut">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/register">Register</a>
        <a href="Identity/Account/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

<style>
    a{
        margin:15px;
    }
</style>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        Console.WriteLine("Signing out");
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
        //Navigation.NavigateTo("/");
        Console.WriteLine("Signed out...");

    }
}
